[submodule "packages/api"]
	path = packages/api
	url = https://github.com/CerusBots/api
[submodule "packages/website"]
	path = packages/website
	url = https://github.com/CerusBots/website
[submodule "packages/webapp"]
	path = packages/webapp
	url = https://github.com/CerusBots/webapp
[submodule "packages/runner"]
	path = packages/runner
	url = https://github.com/CerusBots/runner
